# C++
*.lst
*.obj
*.o

# Vim
*.swp
Session.vim

# LaTeX
*.log
*.aux
*.aux.make
*.auxbbl.make
*.auxtarget.make
*.d
*.fls
*.toc
*.toc.make

# Sim
*.opt
*.wlf
*.vstf
*.log
*.svf
*.scr
*.cmd
*.bak
*.lso
*.elf
*.ace
*~
*#
*.swp
*.ini
*.html
*.vhi
*.wdb
*.stx
*.xmsgs
*.xreport
*.exe
*.cmd_log
*_beh.prj
*.ncd
isim
db
incremental_db
work
*.cr.mti
vsim.wlf
transcript
webtalk.log
webtalk_impact.xml
pepExtractor.prj
impact.xsl
impact_impact.xwbt

